/* 
 */

/* Standard Styling Presets */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "sans-serif";
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

/* Body - flex it so can position .header, .content, .footer for Holy Grail layout
min-height: 100vh to ensure the body always fills up the entire screen.
 */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1f2937;
  padding: 10px;
}

.header-logo {
  font-size: 24px;
  font-weight: bolder;
  color: #f9faf8;
}

.header-links {
  display: flex;
  gap: 16px;
}

/* a elements that are direct child of .header-links */
.header-links > a {
  color: #e5e7eb;
}

/* Content Styles */
.content {
  /* flex: 1 means .content will fill all the space that is left in body */
  flex: 1;
  /* To position the 4 big containers within itself */
  display: flex;
  flex-direction: column;
}

/* To ensure all the divs that are direct child of .content i.e. the containers within .content are evenly sized */
.content > div {
  flex: 1;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ensure all divs in .hero are same sized i.e. both take up the same amount of space */
.hero > div {
  flex: 1;
  border: 1px black solid;
}

/* Footer Styles */
