/* 
 */

/* Standard Styling Presets */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "sans-serif";
}

a {
  color: black;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hero {
  border: red 2px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f2937;
}

.header,
.hero-content {
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

.header-link {
  color: #e5e7eb;
  font-size: 18px;
}

.hero-content {
  display: flex;
}

.content {
  border: blue 2px solid;
  flex: 1;
}

.footer {
  border: green 2px solid;
}
