/* 
 */

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "sans-serif";
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  padding: 10px;
}

.header-logo {
  font-size: 24px;
  font-weight: bolder;
  color: #f9faf8;
  margin-left: 20px;
}

.header-links {
  display: flex;
  gap: 16px;
}

/* a elements that are direct child of .header-links */
.header-links > a {
  color: #e5e7eb;
}
