/* 
 */

/* Standard Styling Presets */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "sans-serif";
}

a {
  color: black;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f2937;
}

.header,
.hero-content {
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

.header-link {
  color: #e5e7eb;
  font-size: 18px;
}

.hero-content {
  display: flex;
  max-height: 250px;
  padding: 20px 0;
}

.hero-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-main-text {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.hero-secondary-text {
  color: #e5e7eb;
  font-size: 18px;
}

.hero-button {
  width: fit-content;
  margin-top: 10px;
  background-color: #3882f6;
  font-weight: bold;
  border: 0;
  border-radius: 12px;
  padding: 8px 24px;
}

.hero-column > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.content {
  border: blue 2px solid;
  flex: 1;
}

.footer {
  border: green 2px solid;
}
