/* 
 */

/* Standard Styling Presets */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "sans-serif";
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

/* Body - flex it so can position .header, .content, .footer for Holy Grail layout
min-height: 100vh to ensure the body always fills up the entire screen.
 */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1f2937;
  padding: 10px;
}

.header-logo {
  font-size: 24px;
  font-weight: bolder;
  color: #f9faf8;
}

.header-links {
  display: flex;
  gap: 16px;
}

/* a elements that are direct child of .header-links */
.header-links > a {
  color: #e5e7eb;
}

/* Content Styles */
.content {
  flex: 1;
}

/* Footer Styles */
