/* 
 */

/* Standard Styling Presets */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "sans-serif";
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hero {
  border: red 2px solid;
  display: flex;
  flex-direction: column;
}

.content {
  border: blue 2px solid;
  flex: 1;
}

.footer {
  border: green 2px solid;
}
